unpackaged/config/demo-app/flows/Validate_Address_Flow_Example.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Validate_Shipping_Address</name>
        <label>Validate Shipping Address</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>USPSAddressAPIInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Output_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>request</name>
            <value>
                <elementReference>USPS_Request</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_USPS_Request</name>
        <label>Assign USPS Request</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>USPS_Request.address2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Address.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>USPS_Request.city</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>USPS_Request.state</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Address.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>USPS_Request.zip5</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Address.postalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Shipping_Address</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Validate Address - Flow Example {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Validate Address - Flow Example</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>440</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_Screen</name>
        <label>Input Screen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_USPS_Request</targetReference>
        </connector>
        <fields>
            <name>Input_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>country</name>
                <value>
                    <stringValue>United States</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Validate Address</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Output_Screen</name>
        <label>Output Screen</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Address_Output</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Validate_Shipping_Address.response.city</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <stringValue>United States</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Validate_Shipping_Address.response.zip</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Validate_Shipping_Address.response.state</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Validate_Shipping_Address.response.street</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Pretty_Print_JSON_Response</name>
            <extensionName>c:jsonPrettyPrinter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>jsonToPrettyPrint</name>
                <value>
                    <elementReference>USPS_Response_Text_Template</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>toggleTitle</name>
                <value>
                    <stringValue>Additional data from the USPS Verification Response</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Input_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>USPS_Response_Text_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Validate_Shipping_Address.response}</text>
    </textTemplates>
    <variables>
        <name>USPS_Request</name>
        <apexClass>USPSRequestAuraEnabled</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
